LightChaserAnim/deps_compile
LightChaserAnim/cryptomatte1.0/ref/alshaders_rc19/build
LightChaserAnim/cryptomatte1.0/ref/alshaders_rc19/install
LightChaserAnim/cryptomatte2.0/build
LightChaserAnim/cryptomatte2.0/install
LightChaserAnim/temp
*.pyc
*.log
*~
